[submodule "vendor/FA-Binary-Patches"]
	path = vendor/FA-Binary-Patches
	url = https://github.com/reimarus/FA-Binary-Patches.git
[submodule "vendor/fa-python-binary-patcher"]
	path = vendor/fa-python-binary-patcher
	url = https://github.com/reimarus/fa-python-binary-patcher.git
[submodule "vendor/faf-ui"]
	path = vendor/faf-ui
	url = https://github.com/reimarus/fa.git
